<h1>Vehicles</h1>

<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th>Vin #</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Trim</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td><%= vehicle.vin %></td>
          <td><%= vehicle.year %></td>
          <td><%= vehicle.make %></td>
          <td><%= vehicle.model %></td>
          <td><%= vehicle.trim %></td>
          <td><%= button_to "Delete", vehicle, method: :delete, data: { confirm: "Are you sure?" } %></td>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no vehicles available for checkout.</p>
<% end %>

<br>
<%= link_to "New Vehicle", new_vehicle_path %>
